/**
 *-----------------------------------------------------------------------------------------
 * Customizamos Estilos
 *-----------------------------------------------------------------------------------------
 */

body,
button,
input,
textarea ,
select {
    font-family: $base-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
    font-weight: normal;
}

body {
    font-size: 16px;
}


a {
    text-decoration: none;
    &:focus{
        outline: none;
    }
}

h1 {
    font-size: 1.8rem;

    @include respond-to(md) {
        font-size: 2rem;
    }
}

h2 {
    font-size: 1.4rem;

    @include respond-to(md) {
        font-size: 1.6rem;
    }
}

h3 {
    font-size: 1.2rem;

    @include respond-to(md) {
        font-size: 1.4rem;
    }
}

h4 {
    font-size: 1.1rem;

    @include respond-to(md) {
        font-size: 1.2rem;
    }
}

.custom_title{
    text-align: left;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    // font-style: italic !important;
    font-weight: 300 !important;
    font-size: 1.8rem;
    // padding-left: 1.5rem;
    @include respond-to(md) {
        font-size: 2.2rem;
    }
}
.section_title{
    color: $color_font_dark;
    @extend .custom_title;
}

.section-title__borderbottom{
    width: 100%;
}

.title__borderbottom{
    display: inline-block;
    // float: right;
    // width: 100%;
    &>div.borderbottom{
        height: 5px;
        margin-top: 10px;
        // border-radius: 10px 0 0 10px;
        &:nth-child(1){
            width: 100%;
            background-color: #e1952e;
        }
        &:nth-child(2){
            width: 20%;
            margin: 10px 0;
            background-color: #d46770;
            float: right;
        }
    }
}

.circle_title{
    display: inline-flex;
    align-items: center;
    &:before,
    &:after{
        color: $color-theme;
        content: $fa-var-circle;
        font-size: 50%;
    }
    &:before{
        margin-right: 1rem;
    }
    &:after{
        margin-left: 1rem;
    }
}

.hide {
    display: none;
}

.show-block{
    display: block;
    transition: all 0.7s ease;
}

.show-inline{
    display: inline;
    transition: all 0.7s ease;
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    z-index: 1000;
    margin-left: 0;
    transition: all 0.7s ease;
}

noscript iframe.google-tag {
    display: none;
    visibility: hidden;
}

// Eliminar transparencia blanca al cargar página
.blockUI,
.blockUI.blockMsg.blockElement,
.blockUI.blockOverlay{
    display: none !important;
}
