@charset "UTF-8";
/* Variables Globales */

// Some common variables and mixins to get you started.
// Variables allow you to re-use colors, sizes, and other values without repeating
// yourself. This means that changes that should be small, such as tweaking the
// coloring or the sizing, can be done in one place, not all over the stylesheet.

$base-font: 'Asap', "Source Sans Pro", 'FontAwesome', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$header-font: $base-font;

// base color scheme
$color-theme: #1e9bf3;
$secondary-color-theme: #1e9bf3;
$third-theme-color: #4a4b56;
$color-theme-hover: #1e9bf3;
$body-background: #ffffff;
$color_body: #43454b;
$color_links: #2c2d33;
$color_border: rgba(0,0,0,0.05);
$color_font_dark: #000000;
$price-color: #008000;
$price-color-hover: #126612;
$callto-action-color: $price-color;
$callto-action-color-hover: $price-color-hover;
$offer-color: $price-color;
$offer-color-hover: $price-color-hover;
$footer-background-color: #1c1b20;
$footer-bottom-bar-background-color: #17161a;
$error: 	#e2401c;
$success: #0f834d;
$info: #3D9CD2;
$black: #000000;
$black-ligth: #1E1E1E;
$green: #379712;
$orange: #EC6D4F;
$gray: #96A0A7;
$border-search-color: #bebebe;
$background-shadow: #cae9ff;
$background-color-nav: $third-theme-color;
$white: #ffffff;
$facebook-color: #3B5998;
$twitter-color: #55ACEE;
$google-color: #DC4E41;
$linkedin-color: #0177B5;

// layout sizes
$vspacing: 			1.618em;
$desktop:			768px;
$handheld:			568px;
$container-width:	67.141em;

$susy: (
	columns: 12,
	gutters: 1,
	math: fluid,
	output: float,
	gutter-position: after,

	use-custom: (
		box-sizing: false
	)
);

// Devices
$mobile-s: 320em; // xs
$mobile-m: 375em; // sm
$mobile-l: 425em; // mm
$tablet: 768em; // md
$laptop: 1024em; // lg
$laptop-l: 1440em; // xl
$xxl-4k: 2560em; // 4x
$em: 16;

// Breakpoints
$screen-xs: 320px;
$screen-sm: 375px;
$screen-mm: 425px;
$screen-handheld: $handheld;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1440px;
$screen-4k: 2560px;
$screen-landscape: landscape;

// Images Articles & Projects
$w: 373px;
$h: 268px;
$ratio: ($w/$h);
$width: 100px;
$height: ($width/$ratio);
$multip: 3;
